<%- include('ek/header', {a, bot, user, db, path}) %>

<!-- 
  if(command.user.id === "518717000487534593" || command.user.id === "436527843959111681" || command.user.id === "552860386727165980" || command.user.id === "235088799074484224" || command.user.id === "531018863882797056" || command.user.id === "553270538034741248" || command.user.id === "551841231961849878" || command.user.id === "473284664711446529" || command.user.id === "540902460747677716" || command.user.id === "518145591860264961" || command.user.id === "540978976617660416" || command.user.id === "436527843959111681" || command.user.id === "351611743018942464" || command.user.id === "294882584201003009" 
!-->
<div align="center">
<br><br><div class="justify-content-md-center"><h2 style="color: GRAY;">Ritarary Code Sertifikalı Botlar:</h2></div><br><br><center>
<%- include ./ek/arama %>
<br><br>
</center>
	<% a.forEach(comman => {  %>
   <% var command = bot.users.get(comman) %>
<div class="card text-white bg-light mb-3" style="display: inline-block; width: 17rem;">
          <div class="card-header"><a href="/bot/<%= command.id %>"><img src="<%= command.avatarURL %>" style="width: 100%;"></a></div>
    
       <div class="card-body">
            <h5 class="card-title">
              <a href="/bot/<%= command.id %>"><%= command.username %></a>
                  </h5>
                  <button type="button" onclick="window.location.href='bot/<%= command.id %>'" class="btn btn-primary" style="display: inline-block; width: auto;">Bak</button>
                  <button type="button" onclick="window.location.href='https://discordapp.com/oauth2/authorize?client_id=<%= command.id %>&scope=bot&permissions=8 '" class="btn btn-primary" style="display: inline-block; width: auto;">Ekle</button>
                </div>
             </div> 
 <% }) %>
</div>

<% include ./ek/footer %>

