<%- include('ek/header', {bot, temp, swsay, shard, user, path, id, durum, prefix, sahip, avatar, botaı, acikla, dil, sahipavatar, sertifikadurum}) %><br><br>     
<link rel="stylesheet" href="https://simsek.cf/api2/css/simple-sidebar.css">
<link rel="stylesheet" href="https://simsek.cf/api2/vendor/bootstrap/css/bootstrap.min.css">
<style>
.icbol{ 
float:none;
margin-bottom: 5px;
margin-top: 20px;
margin-left: 550px;
margin-right: -400px;
align: right;
</style>

<div align="center">
<img src="<%- avatar %>" width="275" height="275"><br><br>
<p width="35" height="35" style="color: BLACK"><img src="<%- durum %>" width="35" height="35"><%- botaı %><br></p>
<div align="center" class="btn-group-vertical"><button class="btn btn-warning" onclick="window.location.href='https://discordapp.com/oauth2/authorize?client_id=<%- id %>&scope=bot&permissions=8'" >Botu Ekle</button></div>
<br><br>
</div>

<div align="left" class="btn-group-vertical">                         
<button class="btn btn-info">Prefix: <%- prefix %></button><br>
<button class="btn btn-info">Dil: <%- dil %></button><br>
<button class="btn btn-primary">Yapımcı: <img src="<%- sahipavatar %>" width="23" height="23"> <%- sahip %> </button><br>
<%- sertifikadurum %>
</div>

<div class="btn-group-vertical">
<button class="btn btn-info icbol">Sunucu Sayısı: <%- swsay %></button><br>
<%- shard %>
</div>

<br><br><br><br>

<div align="center">    
<div class="jumbotron" style="color: rgb(149, 149, 149);">
<p style="color: BLACK"><%- acikla %></p>
</div></div>