<%- include('ek/header', {bot, user, path, id, durum, prefix, sahip, avatar, bota覺, acikla, dil, sahipavatar, sertifikadurum}) %>
<div align="center">
<img src="<%- avatar %>" width="300" height="300"><br>
<img src="<%- durum %>" width="35" height="35"><%- bota覺 %><br>
<button class="btn btn-warning" onclick="window.location.href='https://discordapp.com/oauth2/authorize?client_id=<%- id %>&scope=bot&permissions=8'" >Botu Ekle</button>
<br><br>
</div>

<div align="left">                         
  <button class="btn btn-primary">Prefix: <%- prefix %></button><div align="rigth"></div><br><br>
<button class="btn btn-primary">Dil: <%- dil %></button><br><br>
<button class="btn btn-primary">Yap覺mc覺: <img src="<%- sahipavatar %>" width="23" height="23"> <%- sahip %> </button><br><br>
<%- sertifikadurum %>
<br><br>
</div>

<div align="center">    
<div class="jumbotron" style="color: rgb(149, 149, 149);">
<p style="color: BLACK"><%- acikla %></p>
</div></div>

<% include ./ek/footer %>