<%- include('ek/header', {bot, user, path, id, durum, prefix, sahip, avatar, bota覺, acikla, dil, sahipavatar, sertifikadurum}) %>
<style>
textarea {
    margin-bottom: 10px;
    font-size: 17pt;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    background-color: #efefef;
    border-radius: 5px;
    outline: none;
    height: 100px;
    width: 200px;
    align: right;
}
</style>
<div align="center">
<img src="<%- avatar %>" width="300" height="300"><br>
<img src="<%- durum %>" width="50" height="50"> <%- bota覺 %><br>
<button class="btn btn-warning" onclick="window.location.href='https://discordapp.com/oauth2/authorize?client_id=<%- id %>&scope=bot&permissions=8'" >Botu Ekle</button>
<br><br>

<div align="left">                         
<div class="input-group"><button class="btn btn-primary">Prefix: <%- prefix %></button></div><br>
<div class="input-group"><button class="btn btn-primary">Dil: <%- dil %></button></div><br>
<div class="input-group"><button class="btn btn-primary">Yap覺mc覺: <img src="<%- sahipavatar %>" width="23" height="23"> <%- sahip %> </button></div><br>
<div class="input-group"><%- sertifikadurum %></div>
<br><br>

<div align="right"><h4>
<%- acikla %></h4>
</div></div></div>

<% include ./ek/footer %>