<%- include('ek/header', {bot, user, path, id, durum, prefix, sahip, avatar, bota覺, acikla, dil, sahipavatar, sertifikadurum}) %><br><br>
<div align="center">
<img src="<%- avatar %>" width="275" height="275"><br>
<p width="35" height="35" style="color: BLACK"><img src="<%- durum %>" width="35" height="35"><%- bota覺 %><br></p>
<div class="btn-group-vertical"><button class="btn btn-warning" onclick="window.location.href='https://discordapp.com/oauth2/authorize?client_id=<%- id %>&scope=bot&permissions=8'" >Botu Ekle</button></div>
<br><br>
</div>

<div align="left" class="btn-group-vertical">                         
<button class="btn btn-info">Prefix: <%- prefix %></button><br>
<button class="btn btn-info">Dil: <%- dil %></button><br>
<button class="btn btn-primary">Yap覺mc覺: <img src="<%- sahipavatar %>" width="23" height="23"> <%- sahip %> </button><br>
<%- sertifikadurum %>
</div><br><br><br><br>

<div align="center">    
<div class="jumbotron" style="color: rgb(149, 149, 149);">
<p style="color: BLACK"><%- acikla %></p>
</div></div>

<% include ./ek/footer %>