<!DOCTYPE html>
<html lang="tr">
<head>
<title>Ritarary Code</title>
<link id="favicon" rel="icon" href="https://cdn.discordapp.com/avatars/531018863882797056/a29e57b010e932171ba36a9330df9bf3.jpg?size=2048" type="image/x-icon">
<meta charset="utf-8">
<meta property="og:title" content="RitararyCode" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://ritararycode.tk/" />
<meta property="og:description" content="RitararyCode Kod Paylaşım - Bot ekleme" />
<meta property="og:image" content="<%- bot.user.avatarURL %>" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#00FF00">
<link href="https://simsek.cf/api2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="https://simsek.cf/api2/css/simple-sidebar.css" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
<meta name="google-site-verification" content="KqGN9Zg0p7lMzd-1cAOXVvydHoqM_ZAz-w4QOHRfhZY" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142546167-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-142546167-1');
</script>
<meta name="keywords" content="ritararycode, ritarary code, code, kod paylaşım, kodlama , development, bot ekleme, bot list, bot listesi, coding, bot, discord, ritararycode discord">
<style>
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #18acce;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
</style>
  
  <% var class1,class2,class3,class4,class5 ;
  if(temp === "anasayfa") class1 = "active"
  else if(temp === "botlar") class2 = "active"
  else if(temp === "basvur") class3 = "active"
  else if(temp === "kodlar") class4 = "active"
  else if(temp === "botekle") class5 = "active"
  %>

<div class="sidebar">
              <a id="anasayfa" class="<%= class1 %>" href="/">Ana Sayfa</a>
              <a id="botlar" class="<%= class2 %>" href="/botlar">Sistemdeki Botlar</a>
      <% if (!user) { %>
              <a id="giris" href="/giris">Giriş Yap</a>
      <% } else { %>
              <a id="kodlar" class="<%= class4 %>" href="/kodlar">Kodlar</a>
              <a id="botekle" class="<%= class5 %>" href="/botekle">Bot Ekle</a>
              <a id="basvuru" class="<%= class3 %>" href="/b">Başvuru</a>
              <a id="cikis" href="/cikis">Çıkış Yap</a>
      <% } %>   
</div>
  
<div class="content">